body{
    background-color: black;
    margin-left: 60px;
    margin-right: 60px;
}
p{
    margin: 0;
}
.abouta{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
    text-align: center;
}
.aboutb{
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.slogan{
    color: orange;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    font-weight: 600;
}
.set{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 65px;
}
.setphila{
    margin-bottom: 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-left: 90px;
}
.pphila{
    margin-top: 0;
    margin-left: 20px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.orderbtn{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.ordera{
    background-color: orange;
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    margin-left: 110px;
}
.imgphila{
    margin-left: 60px;
}
.imgkali{  
    margin-left: 160px; 
}
.sets{
    display: flex;
}
.setkalifornia{
    margin-bottom: 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-left: 200px;
}
.pkali{
    margin-top: 0;
    margin-left: 90px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.orderb{
    background-color: orange;
    border: none;
    border-radius: 10px;
    width: 140px;
    height: 50px;
    margin-left: 210px;
}
.orderbtna{
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
